<div>
  <h1 class="title">Provisioning Details Extractor</h1>
  <hr />
  <div class="grid-item1" *ngIf="!responseData">
    <form class="form" (ngSubmit)="onSubmit()">
      <span class="form-title">Upload your PPKG file</span>
      <label for="file-input" class="drop-container">
        <input
          type="file"
          (change)="onFileChange($event)"
          accept=".ppkg"
          id="file-input"
        />
      </label>
      <button style="margin-top: 5%" type="submit" [disabled]="!selectedFile">
        Upload
      </button>
    </form>
  </div>

  <div *ngIf="!responseData" style="margin-bottom: 24%;"></div>

  <div *ngIf="responseData" class="data">
    <h3>AppSettings:</h3>
    <button class="buttons" (click)="copyToClipboard(getSimulatorData())">
      Copy AppSettings
    </button>
    <button  class="buttons" type="button" (click)="downloadJson()">Download JSON</button>
    <button  class="buttons" (click)="resetData()">Generate Again</button>
    <div class="sim-data">
      <pre>{{ getSimulatorData() | json }}</pre>
    </div>
  </div>
</div>

<hr />
<div class="footer">
  <address>Feel free to reach out to <a href="mailto:abhiram.rajeevan@soti.net">Abhiram Rajeevan</a> if you encounter any issues </address>
</div>
